body {
	background-color: #ffffff;
}
nav {
	padding: 20px;
	font-color: #000;
	font-size 12pt;
	float: left;
}
header {
	background-image: url("../Unit 3/images/0.jpg");
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
	padding: 20px;
}
.circleone {
	background-color: #ffffff;
	border: none;
	border-radius: 50%;
	background-color: #d1e2ff;
	float: none;
	padding: 20px;
	margin: 20px;
}
.circletwo {
	background-color: #ffffff;
	border: none;
	border-radius: 50%;
	background-color: #d1e2ff;
	float: none;
	padding: 20px;
	margin: 20px;
}
.circlethree {
	background-color: #ffffff;
	border: none;
	border-radius: 50%;
	background-color: #d1e2ff;
	float: none;
	padding: 20px;
	margin: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
h1 {
	text-align: center;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 300;
	font-size: 100px;
}
p {
	font-size: 50px;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	color: #000000;
}
a {
	color: #ffffff;
}