body {
	background-color: #ffffff;
}
nav {
	background-color: #FFFFFF;
	color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline;
}
a:hover {
	background-color: white;
	color: black;
}
header {
	background-image: url("../Unit 3/images/0.jpg");
	background-size: cover;
	position: relative;
	background-repeat: no-repeat; 
	padding: 20px;
}
h1 {
	text-align: center;
	font-family: Open Sans Condensed, sans-serif;
	font-size: 72px;
	color: white;
	font-weight: lighter;
}
p {
	text-align: center;
	border: 3px solid #6E6E6E;
	background-color: #6E6E6E;
	color: white;
	font-family: Montserrat, sans-serif;
}
footer {
	background-color: #FFC544;
	border: none;
	padding: 20px;
	text-align: center;
}
.CU {
	color: white;
	background-color: #FFFFFF;
	border: 2px solid #6E6E6E;
	margin-left: 40%;
	margin-right:40%;
	margin-top: 10%;
	margin-bottom: 10%;
}