body {
	background-color: #ffffff;
}
nav {
	background-color: #00FFFFFF;
	color: black;
	padding: 20px;
	display: inline;
	float: left;
}
a:hover {
	background-color: white;
	color: black;
}
header {
	background-image: url("../Unit 3/images/0.jpg");
	background: fixed;
	background-position: center;
	background-repeat: no-repeat; 
	padding: 20px;
}
h1 {
	position: center;
	font-family: Open Sans Condensed, sans-serif;
	font-size: 72px;
	color: white;
	font-weight: bold;
}
p {
	position: center;
	border: 10px solid #6E6E6E;
	background-color: #6E6E6E;
	color: white;
	font-family: Montserrat, sans-serif;
	text-transform: capitalize;
}
footer {
	background-color: #FFC544;
	border: none;
	padding: 20px;
	text-align: center;
}
#CU {
	text-transform: normal;
	background color: #00FFFFFF;
}