.body {
	text-align: center;
	font-size: 72px;
	font-weight: bold;
	color: #ffffff;
	font-family: "Pontano-Sans", Arial;
	background-size: cover;
	background-image: url"IMG_2097.jpg"
}

#h1 {
	font-style: style;
}