body {
	text-align: center;
	font-size: 64px;
	color: #000000;
	background-size: cover;
	background-image: url("../images/0.jpg");
	background-attachment: fixed; 
	background-repeat: no-repeat;
}
.h1 {
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
	font-size: 100px;
}
.p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}